.content-details {
  width: 40%;

  h3 {
    margin-bottom: 16px;
  }

  form input {
    margin-bottom: 8px;
  }

  form .buttons {
    display: flex;
    gap: 8px;

    button {
        padding: 8px;
    }
  }
}